*{
    margin: 0;
    padding: 0;
}


/* BODY */





/* HEADER */



header {

    height: 150px;
    background-color: #265F68;

}

#logo {

    top: 15px;
    
}

.logo-img {

    height: 180px;
    
}

.logo-img img {

    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* NAV */

nav{
    background-color: #346f79;
    height: 40px;
    text-align: center;
    position: sticky;
    
    
    
}

nav ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: Perpetua Titling MT;
}

nav ul li{
    display: inline-block;
    width: 20%;
    height: 40px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    height: 40px;
}

nav ul li a:hover{
    background-color: #4a757c;

}

/* FONDO */

#tablas {
    
    background-color: aqua;
    display: grid;
    background-size: cover;
    height: 600px;
    width: 100%;
    background-color: rgb(163, 238, 163);
    grid-template-columns: 5% 26.66% 5% 26.66% 5% 26.66% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: "a1 a1 a1 a1 a1 a1 a1"
                         "a2 a3 a4 a5 a6 a7 a8"
                         "a9 a10 a11 a12 a13 a14 a15";

   
}

#tabla1 {

    background-color: red;
    font-family: Perpetua;
    font-size: 25px;
    text-align: center;
    grid-area: a3
}

#tabla2 { 

    background-color: rgb(0, 255, 76);
    font-family: Perpetua;
    font-size: 25px;
    text-align: center;
    grid-area: a5
    
}

#tabla3 {

    background-color: rgb(117, 29, 189);
    font-family: Perpetua;
    font-size: 25px;
    text-align: center;
    grid-area: a7


}

.tabla3 img {

    display: inline-block;
    list-style: none;


}

.chat {

    width: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;

}

.chat img {

    width: 100%;
    height: auto;
}

.chat img:hover {

    filter: saturate(80%);
    filter: opacity(50%);




}

/* FOOTER */

footer {

    height: 200px;
    background-color: #ffffff;
    margin: 0%;
}

.footer-social {

    display: inline-block;
    


}

.footer-social ul li {
    
    display: inline-block;
    
}

.footer-social img {

    width: auto;
    height: auto;
    margin-top: 25%;
}